html,
body {
    margin: 0;
    padding: 0;
}

#events {
    background-color: rgb(65, 68, 223);
    color: white;
    height: 30vh;
}

.light-blue {
    background-color: rgba(65, 223, 223, 0.86);
    color: white;
    padding: 10%;
}
#past-events{
    display: flex;
	flex-wrap: wrap;
}
.heading {
    font-family: 'Kalam', serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 2.45rem;
    text-align: center;
}

.blue {
    color: #3FE4DB;
    text-shadow: -2.5px -2.5px #656565;
    margin: 3% auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}